@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap');

body{
    background: #ECE9E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Lato",sans-serif;
    min-height: 100vh;
    margin: 0;
}
.container{
    background-color: #fff;
    box-shadow: 0 0 10px 2px #3333331a;
    width: 400px;
    border-radius: 5px;
    overflow: hidden;
    
    
}
img{
    max-width: 100%;
}
header{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}
header input{
    background-color: #eee;
    border: none;
    border-radius:3px;
    padding: 0.5rem 1rem;
    font-family: inherit;
}
header button{
    background-color: transparent;
    border: none;
    color: #aaa;
    font-size: 1.5rem;
    margin-left:10px;
}
.fav-container{
    background-color: rgb(214, 214, 248);
    padding: 1rem;
    text-align: center;
}
.fav-meals{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;    
    list-style: none;
    padding: 0;
}
.fav-meals li{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 85px;
    /* padding :0.5rem; */

}
.fav-meals li .clear{
    background-color: transparent;
    border: none;
    top: -0.1rem;
    cursor: pointer;
    right: -0.1rem;
    position: absolute;
    opacity: 0;
    font-size: 1rem;
    
}
.fav-meals li:hover .clear{
    opacity: 1;
}
.fav-meals li img{
    border: 2px solid #FFFFFF;
    box-shadow: 0 0 10px 5px #3333331a;
    border-radius: 50%;
    object-fit: cover;
    height: 70px;
    width: 70px;
    
}
.fav-meals li span{
    font-size: 0.8rem;
    text-align: center;
}
.meal{
    border-radius: 5px;
    box-shadow: 0 0 10px 2px #3333331a;
    margin:  1.5rem;

}
.meal-header{
    position: relative;
}
.meal-header .random{
    position: absolute;
    top: 1rem;
    background-color: #fff;
    padding: 0.25rem 1rem;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.meal-header img{
    height: 250px;
    width: 100%;
    object-fit: cover;
}
.meal-body{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}
.meal-body h4{
    margin: 0;
}
.meal-body .fav-btn{
    background-color: transparent;
    color: rgba(197,188,188);
    cursor: pointer;
    border: none;
    font-size: 1.2rem;
}
.meal-body .fav-btn.active{
    color: rebeccapurple;
}